<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
</head>
<body class="conteiner">
{% if user.is_authenticated %}
    Witaj {{ user.username }}
{% endif %}
<div class="header">
    <ul class="nav">
        <li class="nav"><a href="{% url 'add_wallet' %}">Dodaj Portfel</a></li>
        <li class="nav"><a href="{% url 'list_wallet' %}">Portfele</a></li>
        <li class="nav"><a href="{% url 'add_cashflow' %}">Cashflow add</a></li>
        <li class="nav"><a href="#">ddd</a></li>
    </ul>
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav"><a href="{% url 'logout' %}">wyloguj</a> </li>
        {% else %}
            <li class="nav"><a href="{% url 'login' %}">zaloguj</a> </li>
        {% endif %}
    </ul>
</div>
<div class="cont">{% block content %}{% endblock %}</div>
<div class="footer">{{ data }} ala ma kota a kot nie ma ali <img src="{% static 'ja.jpeg' %}" width="50"> </div>
</body>
</html>w